@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.display {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: auto;
  justify-content: space-around;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.size-icon1 {
  width: 42px;
  height: auto;
}

.size-icon2 {
  width: 40px;
  height: auto;
}

.space {
  padding-top: 4rem;
}

.size-icon3 {
  width: 70px;
  height: auto;
}

.container-home {
  justify-content: center;
  height: 600px;
  padding-top: 30px;
}

.container-project {
  justify-content: center;
  height: 600px;
  padding-top: 30px;
}

.container-sertifikat {
  justify-content: center;
  height: 600px;
  padding-top: 30px;
}

.img {
  width: 200px;
  height: auto;
  border-radius: 2rem;
}

.img-sertifikat {
  width: 600px;
  height: auto;
}

.size-text {
  font-size: 18px;
  width: 80%;
  height: auto;
  font-weight: 600;
}

#title {
  animation: mymove 5s infinite;
}
.title {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    text-shadow: 10px 20px 30px blue;
  }
}

/* .fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: blue;
  opacity: .7;
} */
/* .menu-icon {
  display: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
  margin-right: 20px;
} */

.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
  padding: 15px;
  border-radius: 1rem;
  /* display: flex; */
  text-align: center;
  /* justify-content: end; */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  align-content: space-between;

}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 2rem;
}

.navbar a:hover {
  background-color: #555;
}

.navbar a:active {
  background-color: #000000;
}

.bg-color {
  background-color: #4f4cff;
  padding: 10px;
  border-radius: 2rem;
  color: white;
  text-align: center;
  width: 50%;
}

@media (max-width:369px) {
  .display {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-basis: auto;
    justify-content: space-around;
    padding-top: 4rem;
  }

  .img-sertifikat {
    width: 300px;
    height: auto;
  }

  .size-text {
    font-size: 14px;
    width: 80%;
    height: auto;
    font-weight: 600;
  }

  .container-home {
    justify-content: center;
    height: 800px;
    padding-top: 30px;
  }

  .container-project {
    justify-content: center;
    height: 700px;
    /* padding-top: 90px; */
  }

  .container-sertifikat {
    justify-content: center;
    height: 680px;
    padding-top: 30px;
  }

  .size-text {
    font-size: 18px;
    width: 100%;
    height: auto;
    font-weight: 600;
  }

  .space {
    padding-top: 1rem;
  }

  .space-skill {
    padding-top: 1rem;
  }
}